@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}/* Global Styles */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Merriweather', serif;
}

