/* aboutbg.css */

.aboutbg {
  position: relative;
  min-height: 100vh; /* Allows the div to expand if content overflows */
  display: flex; 
  justify-content: center;
  align-items: center;
  background-color: #731dad;
  padding: 2rem; /* Default padding */
}

/* Add a top margin for screens smaller than 768px */
@media (max-width: 768px) {
  .aboutbg {
    padding-top: 10rem; /* Adds space at the top on smaller screens */
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@keyframes gradientAnimation {
  0% {
    background: radial-gradient(circle at 50% 50%, #1f0b6d, #120349, #06020f);
  }
  
  20% {
    background: radial-gradient(circle at 50% 50%, #1d0b6f, #130449, #07020c);
  }
  
  40% {
    background: radial-gradient(circle at 50% 50%, #180a6b, #140351, #06010f);
  }

  60% {
    background: radial-gradient(circle at 50% 50%, #160d6f, #130441, #06000f);
  }

  80% {
    background: radial-gradient(circle at 50% 50%, #120349, #06020f, #1f0b6d);
  }

  100% {
    background: radial-gradient(circle at 50% 50%, #1f0b6d, #120349, #06020f);
  }
}
